@use "./base.scss" as base;

:root {
	fill: base.$color-text;
	color: base.$color-text;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: none;
}

button {
	background: transparent;
	border: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

// ***** Base blocks *****
body {
	background: base.$color-bg;
	width: 100vw;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: max-content;
	overflow-x: hidden;
	justify-content: space-between;
	align-items: center;
}

main {
	flex: 1;
	width: 100%;
	padding: base.$spacing-medium;
	gap: base.$spacing-medium;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Common classes
.clicker {
	cursor: pointer;
	&:hover {
		opacity: base.$opacity-hover;
	}

	&:active {
		opacity: base.$opacity-active;
	}
	&:disabled {
		opacity: base.$opacity-disabled;
	}
}

.primary {
	fill: base.$color-primary;
	color: base.$color-primary;
}
