@use "../styles/base.scss" as base;

.footer {
	padding: base.$spacing-small base.$spacing-large;
	transition: opacity 0.2s ease;
	width: 100%;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
	gap: base.$spacing-small;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0.4rem 0 0.4rem rgba(0, 0, 0, 0.2);

	&__content {
		flex: 1;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: base.$spacing-medium;
		align-items: center;
		justify-content: space-between;
		font-weight: 900;
		opacity: 0.4;
	}
}
